:root {
    --hue-bg: ;
    --hue-fg: ;
    --hue-fg: ;
}

html,
body {
    background-color: var(--hue-neutral-50);
    color: var(--hue-neutral-950);
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: var(--hue-neutral-950);
        color: var(--hue-neutral-200);
    }
}
